@model BookTitle

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail" id="test" >
        <img src="@Model.ImgThumbNail" alt="">
        <div class="caption">
                <a asp-controller="BookTitles" asp-action="Details" asp-route-id="@Model.BookTitleID">@Model.Title</a>
            <p>@Model.Sypnosis</p>
        </div>
    </div>
</div>
